html, body {
    font-family: monospace;
    font-size: large;
    word-wrap: break-word;
    overflow-y: scroll;

    background-color: #222222;
    color: white;
}

form {
    display: none;
}

fieldset {
    margin-bottom: 20px;
}

a:link {
    color: cyan;
}
a:visited {
    color: magenta;
}

input,
select {
    font-family: monospace;
    font-size: x-large;
    background-color: #111111;
    color: white;
}

input[type="button"] {
    font-size: xx-large;
}

input[type="file"] {
    font-size: large;
}

select {
    font-family: monospace;
    font-size: x-large;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: consolas, monospace;
    resize: vertical;
    width: 100%;
    font-size: small;

    background-color: #111111;
    color: white;
}

legend {
    font-size: x-large;
    font-weight: bold;
}

button {
    font-family: monospace;
    user-select: none;

    background-color: #111111;
    color: white;
}

.textInput {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.standardBtn {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 4px;
}

.ffmpeg-fieldset {
    display: none;
}
